html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 10px;
}

#storybar {
    width: auto;
    background-color: purple;
    border-radius: 10px;
    margin: 10px;
    height: 95px;
    overflow: auto;
    white-space: nowrap;
}

img {
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 0px;
    border-radius: 7.5px;
    border-style: solid;
    border-color: mediumpurple;
}

img:hover:not(#story1) {
    opacity: 0.7;
}

#img1 {
    margin-left: 15px;
}

/*stories*/

#story1 {
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
}

#sp {
    border-block-color: purple;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 70%;
    height: 70%;
    overflow: auto;
    background-color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
}

#left {
    font-size: 30px;
    color: red;
    position: relative;
    left: 130px;
    bottom: 300px;
}

#right {
    font-size: 30px;
    color: red;
    position: relative;
    left: 885px;
    bottom: 300px;
}

#bar {
    width: 90%;
    background-color: rebeccapurple;
    margin: 50px;
    margin-top: -20px;
    margin-bottom: 70px;
}

#progress {
    width: 1%;
    height: 10px;
    background-color: purple;
}

/*scroller*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }