html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 10px;
}

h1 {
    width: auto;
    background-color: purple;
    border-radius: 10px;
    margin: 10px;
    height: 90px;
}

img {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 7.5px;
    border-style: solid;
    border-color: mediumpurple;
}

img:hover {
    opacity: 0.7;
}


/*stories*/

#story1 {
    display: block;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#sp {
    border-block-color: purple;
    border-left: 100px;
    border-radius: 10px;
    opacity: 0;

}